@import "settings";
@import "foundation.scss";
@import "font-awesome.scss";

.nopadding {
  padding: 0;
}
.nomargin {
  margin: 0;
}

.bold {
  font-weight: bold;
}


.label.secondary {
  background: $secondary-color;
}

#title-bar {
  box-shadow: 0 2px 8px $gray;
  border: 0;

  a span {
    font-size: 1em !important;
  }

  i {
    line-height: normal;
  }
}

#side-bar {
  @include panel-style(
    $padding: 0,
    $background: $panel-background
  );
  box-shadow: $panel-shadow;

  section.block-list {
    background-color: $body-background;
    margin: 0 0 1em 0;

    // fix for small screens
    header {
      margin-top: 0;
      padding-top: 1em;
    }

    ul {
      margin: 0;
    }
  }
}




